
*{
    margin: 0;
    padding: 0;
   
}

.app_container{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 0;
  
}
.content{
    display: flex;
    flex-direction: column;
   }


.container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px 10px;
    padding: 10px 50px 10px 50px ;
    min-width: 80vw;
    max-height: 40vh;
    background-color:#31384b;
    color: white;
    font-weight: bold;

    @media screen and (max-width:800px) {
        grid-template-columns:auto auto;
        padding:0px;
        max-height:50vh
    }

}


.card{
    display: flex;
    align-items: center;
     margin: 5px;
    padding: 10px 0px 5px 5px;

    @media screen and (max-width:800px) {
        justify-content:center;
        padding:0px;
    }
    
}
.item{
    
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 0.7em;
}

.table{
     margin: 10px 10px;
}


.menu{
    min-width: 10vh;
   
}

